/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #af4c4c;
}

nav a {
    color: #af4c4c;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

/* Secciones */
section {
    margin-bottom: 30px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #af4c4c;
    font-size: 1.5rem;
}

/* Tarjeta de proyecto */
.project {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

.project h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.project p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #ccc;
}

.project a {
    display: inline-block;
    padding: 8px 12px;
    background: #af4c4c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.project a:hover {
    background: #8e3838;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Animaciones */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideIn 1s ease-out forwards;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#skills {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill {
    background: #333;
    color: #af4c4c;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    transition: transform 0.3s, background 0.3s;
}

.skill:hover {
    transform: translateY(-3px);
    background: #af4c4c;
    color: #fff;
}

#contacto {
    text-align: center;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}

.email-link {
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.email-link:hover {
    color: white;
}
